form{
    border: 2px black dotted;
    border-radius: 20px;
    width: 35%;
    height: 35%;
    position: absolute;
    right: 60%;
    top: 5%;
    background-color: lightpink;
}

.labelTitulo1{
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 5%;
    width: 100%;
}

#labelNombre{
    position: absolute;
    left: 10%;
    top: 32%;
    width: 30%;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    border: 1px black dotted;
    border-radius: 40px;
    background-color: white;
}

#nombreVotante{
    position: absolute;
    right: 10%;
    top: 30%;
    width: 40%;
    height: 16%;
    font-family: cursive;
    border: 1px black dotted;
    border-radius: 40px;
    font-size: 15px;
    background-color: white;
}

#labelPartidos{
    position: absolute;
    left: 10%;
    top: 56%;
    width: 30%;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    border: 1px black dotted;
    background-color: white;
    border-radius: 40px;
}

#selPartidos{
    position: absolute;
    right: 10%;
    top: 54%;
    width: 42%;
    height: 18%;
    font-family: cursive;
    font-size: 15px;
    border: 1px black dotted;
    border-radius: 40px;
    background-color: white;
}

button{
    font-family: cursive;
    color: black;
    position: absolute;
    left: 35%;
    bottom: 5%;
    text-align: center;
    width: 30%;
    height: 16%;
    border: 2px black solid;
    border-radius: 40px;
    background-color: white;
    font-size: 20px;
}

#divPartidos{
    border: 2px black dotted;
    border-radius: 20px;
    width: 35%;
    height: 50%;
    position: absolute;
    right: 60%;
    bottom: 5%;
    background-color: lightpink;
}

#labelVotos{
    font-family: cursive;
    font-size: 28px;
    text-align: center;
    position: absolute;
    top: 2%;
    width: 100%;
    height: 10%;
    text-align: center;
}

#label1{
    border: 1px black dotted;
    width: 30%;
    height: 10%;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 16%;
    font-family: cursive;
    border-radius: 40px;
    font-size: 20px;
    background-color: white;
}

#votos1{
    position: absolute;
    right: 10%;
    top: 16%;
    width: 40%;
    height: 10%;
    font-family: cursive;
    border: 1px black dotted;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    color: #000;
    font-size: 20px;
}

#label2{
    border: 1px black dotted;
    width: 30%;
    height: 10%;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 30%;
    font-family: cursive;
    border-radius: 40px;
    font-size: 20px;
    background-color: white;
}

#votos2{
    position: absolute;
    right: 10%;
    top: 30%;
    width: 40%;
    height: 10%;
    font-family: cursive;
    border: 1px black dotted;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    color: #000;
    font-size: 20px;
}

#label3{
    border: 1px black dotted;
    width: 30%;
    height: 10%;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 44%;
    font-family: cursive;
    border-radius: 40px;
    font-size: 20px;
    background-color: white;
}

#votos3{
    position: absolute;
    right: 10%;
    top: 44%;
    width: 40%;
    height: 10%;
    font-family: cursive;
    border: 1px black dotted;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    color: #000;
    font-size: 20px;
}

#label4{
    border: 1px black dotted;
    width: 30%;
    height: 10%;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 58%;
    font-family: cursive;
    border-radius: 40px;
    font-size: 20px;
    background-color: white;
}

#votos4{
    position: absolute;
    right: 10%;
    top: 58%;
    width: 40%;
    height: 10%;
    font-family: cursive;
    border: 1px black dotted;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    color: #000;
    font-size: 20px;
}

#label5{
    border: 1px black dotted;
    width: 30%;
    height: 10%;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 72%;
    font-family: cursive;
    border-radius: 40px;
    font-size: 20px;
    background-color: white;
}

#votos5{
    position: absolute;
    right: 10%;
    top: 72%;
    width: 40%;
    height: 10%;
    font-family: cursive;
    border: 1px black dotted;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    color: #000;
    font-size: 20px;
}

#labelTotal{
    width: 30%;
    height: 10%;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 86%;
    font-family: cursive;
    font-size: 20px;
    border: lightpink;
    background-color: lightpink;
}

#total{
    position: absolute;
    right: 10%;
    top: 86%;
    width: 40%;
    height: 10%;
    font-family: cursive;
    text-align: center;
    color: #000;
    font-size: 20px;
    border: lightpink;
    background-color: lightpink;
}

#divGraficas{
    border: 2px black dotted;
    width: 50%;
    height: 90%;
    position: absolute;
    right: 5%;
    top: 5%;
    border-radius: 20px;
    background-color: lightpink;
}

#labelPastel{
    position: absolute;
    left: 10%;
    top: 15%;
    width: 20%;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}

#labelBarra{
    position: absolute;
    left: 40%;
    top: 15%;
    width: 20%;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}

#labelLinea{
    position: absolute;
    left: 70%;
    top: 15%;
    width: 20%;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}

#divGra{
    max-width: 90%;
    max-height: 62%;
    width: 90%;
    height: 62%;
    border: 1px black dotted;
    border-radius: 40px;
    background-color: white;
    position: absolute;
    left: 5%;
    top: 22%;
}
canvas{
    max-width: 90%;
    max-height: 62%;
    width: 90%;
    height: 62%;
    position: absolute;
    left: 5%;
    top: 22%;
}


#botonPDF{
    font-family: cursive;
    color: black;
    position: absolute;
    left: 40%;
    bottom: 5%;
    text-align: center;
    width: 20%;
    height: 8%;
    border: 2px black solid;
    border-radius: 40px;
    background-color: white;
    font-size: 20px
}